@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.navbar-container div img{
    height:3rem;
    margin-right: 1rem;;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem;
}

.list{
    display: flex;
    text-decoration: none;
    font-family: "Rubik", "Helvetica", sans-serif;
    font-size:2rem;
    list-style-type: none;
    font-weight: bold;
    /* font-size: 100px; */
}
.list-item:nth-child(1){
    color: #000000;
    margin-right: 2.7rem;
}
.list-item:nth-child(2){
    margin-right: 2.7rem;
    color: rgb(159, 155, 155);
}
.list-item:nth-child(3){
    margin-right: 2.7rem;
    color: rgb(159, 155, 155);
}
.list-item:nth-child(4){
    margin-right: 2.7rem;
    color: rgb(159, 155, 155);
}

.list-item:nth-child(5){
    margin-right: 2.7rem;
    color: rgb(159, 155, 155);
}
.nav-button{
    color: #ffffff;
    background-color: rgb(103, 56, 161);
    font-family: "Montserrat", "Rubik", "Helvetica", sans-serif;
    padding: 1.5rem 3rem;
    border-radius: 1rem;
    font-weight: bold;
    border: none;
}

.banner-container{
    display: flex;
}

.heading-text{
    font-family: "Rubik", "Helvetica", sans-serif;
    font-size: 6rem;
    font-family: "Roboto", "Nunito", "Montserrat", sans-serif;
    margin-top: 6rem;
    margin-left: 6.5rem;
    color:rgb(74, 47, 104)
}

span{
    color: rgb(87, 73, 181);
}

.description{
    font-family: "Montserrat", "Rubik", sans-serif;
    color: rgb(159, 155, 155);
    font-weight: bold;
    margin-top:3.5rem;
    margin-left: 6rem;
    font-size: 15px;
}

.btn{
    margin-left: 6rem;
    margin-top: 7rem;
    font-family: "Montserrat", "Rubik", sans-serif;
    padding: 2.6rem 5rem;
    border-radius:2rem;
    font-size: 2rem;
    border: none;
}
.banner-container img{
    margin-left:25rem;
}

@media (max-width: 375px) {
      html{
        font-size: 15%;
      }
}